<!DOCTYPE html>
<html>
<% include ../head.html %>
<style type="text/css">
    li{
        list-style: none;
    }
</style>
<body>
<% include ../titleNav.html %>
<div class="demo">
    <div class="container">
        <ul class="row user-list">
            <li class="col-md-3 col-sm-6 col-xs-6">
                <div class="our-team">
                    <div class="pic">
                        <div class="picbefore"></div>
                        <img src="/images/1.jpg">
                        <div class="picafter"></div>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Angelia</h3>
                        <span class="post">Web Developer</span>
                    </div>
                    <div class="social"><a href="" class="fa">+</a></div>
                </div>
            </li>

            <li class="col-md-3 col-sm-6 col-xs-6">
                <div class="our-team">
                    <div class="pic">
                        <div class="picbefore"></div>
                        <img src="/images/2.jpg">
                        <div class="picafter"></div>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Kristiana</h3>
                        <span class="post">Web Designer</span>
                    </div>
                    <div class="social"><a href="" class="fa">+</a></div>
                </div>
            </li>

            <li class="col-md-3 col-sm-6 col-xs-6">
                <div class="our-team">
                    <div class="pic">
                        <div class="picbefore"></div>
                        <img src="/images/3s.jpg">
                        <div class="picafter"></div>
                    </div>
                    <div class="picAfter"></div>
                    <div class="team-content">
                        <h3 class="title">Alice</h3>
                        <span class="post">Web Developer</span>
                    </div>
                    <div class="social"><a href="" class="fa">+</a></div>
                </div>
            </li>

            <li class="col-md-3 col-sm-6 col-xs-6">
                <div class="our-team">
                    <div class="pic">
                        <div class="picbefore"></div>
                        <img src="/images/4.jpg">
                        <div class="picafter"></div>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Caroline</h3>
                        <span class="post">Web Designer</span>
                    </div>
                    <div class="social"><a href="" class="fa">+</a></div>
                </div>
            </li>

            <li class="col-md-3 col-sm-6 col-xs-6">
                <div class="our-team">
                    <div class="pic">
                        <div class="picbefore"></div>
                        <img src="/images/4.jpg">
                        <div class="picafter"></div>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Caroline</h3>
                        <span class="post">Web Designer</span>
                    </div>
                    <div class="social"><a href="" class="fa">+</a></div>
                </div>
            </li>

            <li class="col-md-3 col-sm-6 col-xs-6">
                <div class="our-team">
                    <div class="pic">
                        <div class="picbefore"></div>
                        <img src="/images/4.jpg">
                        <div class="picafter"></div>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Caroline</h3>
                        <span class="post">Web Designer</span>
                    </div>
                    <div class="social"><a href="" class="fa">+</a></div>
                </div>
            </li>

            <li class="col-md-3 col-sm-6 col-xs-6">
                <div class="our-team">
                    <div class="pic">
                        <div class="picbefore"></div>
                        <img src="/images/4.jpg">
                        <div class="picafter"></div>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Caroline</h3>
                        <span class="post">Web Designer</span>
                    </div>
                    <div class="social"><a href="" class="fa">+</a></div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
    $(function(){
        console.log($(".user-list li").length)
        for(var i = 0;i < $(".user-list li").length;i++){
            switch(i%4){
                case 0:
                    $(".user-list li").eq(i).find(".picafter,.social,.picbefore").css("background","#1abc9c")
                    break;
                case 1:
                    $(".user-list li").eq(i).find(".picafter,.social,.picbefore").css("background","#eb1768")
                    break;
                case 2:
                    $(".user-list li").eq(i).find(".picafter,.social,.picbefore").css("background","#7a22bb")
                    break;
                case 3:
                    $(".user-list li").eq(i).find(".picafter,.social,.picbefore").css("background","#b6c30b")
                    break;
            }
        }
    })
</script>
</html>