<div class="container-fluid" style="padding-right: 5px;padding-left: 5px">
<% for(var i = 0;i<publishList.length;i++){ %>
  <div class="public-info card-blog">
    <div class="card-image">
    <% if(publishList[i].address.split(".")[1] == "mp4"){ %>
        <video src=<%= publishList[i].address %> controls="controls">
        your browser does not support the video tag
        </video>
    <%}else{var imglist = publishList[i].address.split(";")%>
      <img class="img" src=<%= imglist[0] %> alt="">
    <% } %>
    </div>
    <div class="content">
      <p class="card-description"><%= publishList[i].content %></p>
    </div>
  </div>
<%}%>
</div>