<!DOCTYPE html>
<html>
<% include ../head.html %>
<body>
<div class="release">
	<div class="title">
		<span>分享</span>
		<button class="sendbtn">发布</button>
	</div>
	<form action="/file_upload" id="file_upload" class="content" method="post" enctype="multipart/form-data">
		<div class="edit">
			<textarea  class="text-area" name="content" placeholder="分享新鲜事..."></textarea>
		</div>
		<div class="ct-upload">
			<div class="img"></div>
			<div class="video"></div>
		</div>
		<div class="upload">
			<div class="uploadimg">
				<span class="icon1"></span>
				<span class="icon2"></span>
				<input type="file" name="images" size="50" id="upload_file"/>
			</div>
		</div>
	</form>
</div>
</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/style.js"></script>
<script type="text/javascript">
    $(function(){
		// 上传图片立即显示
        $(".upload").on("change","#upload_file",function(){
        	var $file = $(this);  
	        var objUrl = $file[0].files[0];  
	        var windowURL = window.URL || window.webkitURL;  
	        //createObjectURL创建一个指向该参数对象(图片)的URL  
	        var dataURL;  
	        dataURL = windowURL.createObjectURL(objUrl);  
	        $(".upload").append("<img src='"+dataURL+"' class='imageview'/>")
	        $(".uploadimg").hide()
	        $(".upload").append('<div class="uploadimg"><span class="icon1"></span><span class="icon2"></span><input type="file" name="images" size="50" id="upload_file"/></div>')
        })
        // 发送按钮提交
        $(".sendbtn").click(function(){
        	$("#file_upload").submit()
        })
        $("#file_upload").height($(window).height()-50)
    })
</script>
</html>