<div class="navigation-header">
    <a class="deploy-navigation" href=""><i class="fa fa-navicon"></i></a>
    <a class="close-navigation" href="/"><i class="fa fa-times"></i></a>
    <em>Welcome</em>
    <a href=""><i class="fa fa-envelope"></i></a>
</div>
<div class="navigation-header-clear"></div>
<div class="page-navigation">
    <div class="nav-logo">
        <a href="">
            <img src="./person_files/logo-dark.png" alt="img">
        </a>
    </div>
    <div class="nav-clear"></div>
    <div class="nav-item">
        <a href="/">
            <i class="fa fa-home"></i>              
            首页      
        </a>
    </div>
    <div class="nav-item">
        <a href="/release">
            <i class="fa fa-cog"></i>
            发布
        </a>
    </div>
    <div class="nav-item">
        <a href="/person">
            <span class="glyphicon glyphicon-user"></span>
            个人信息
        </a>
    </div>
    <div class="nav-item">
        <a href="/circle">
            <i class="fa fa-camera"></i>
            好友圈
        </a>
    </div>
</div> 