<!DOCTYPE html>
<html>
<% include ../head.html %>
<body>
<% include ../titleNav.html %>
<div class="circle-main">
<% publishList.map(function(value,i){ %>
	<div class="circle-list">
		<header>
			<a class="m-img-box"><img src="https://tvax2.sinaimg.cn/crop.0.0.996.996.180/006mnWYmly8fhf9ayw2j4j30ro0roaeb.jpg"></a>
			<div class="m-text-cut">
				<h3><%= publishList[i].account%></h3>
			</div>
		</header>
		<article>
			<div class="circle-text"><%= publishList[i].content%></div>
			<% if(publishList[i].address.split(".")[1] == "mp4"){ %>
				<video controls="controls" src=<%= publishList[i].address %>>
				your browser does not support the video tag
				</video>
			<% 
				}else{ 
				var imglist = publishList[i].address.split(";")
				for(var j = 0;j < imglist.length;j++){
			%>
				<img class="single-img" src=<%= imglist[j] %> >
			<% }} %>
		</article>
		<footer>
			<div class="m-box-center">
				<span class="glyphicon glyphicon-comment"></span>
				<h5>评论</h5>
			</div> 
			<div class="m-box-center">
				<span class="glyphicon glyphicon-heart-empty"></span>
				<h5>点赞</h5>
			</div>
		</footer>
	</div>
<%})%>
</div>
</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/style.js"></script>
</html>