<!DOCTYPE html>
<html>
<% include ./head.html %>
<body>
<div id="preloader" style="display: none;">
	<div id="status" style="display: none;">
    	<p class="center-text">
			Loading the content...
            <em>Loading depends on your connection speed!</em>
        </p>
    </div>
</div>
<div class="homepage-elements">
	<div class="homepage-one" data-scroll-index="0">
        <a href="javascript:void(0)" class="homepage-logo">
            <img src="/images/logo.png" alt="img">
        </a>
    </div>
    
    <div class="homepage-two" data-scroll-index="1">
    	<div class="homepage-navigation">
            <a href="allUser"><i class="fa fa-home"></i>热门视听</a>
            <a href="person"><i class="fa fa-pencil"></i>我的</a>
            <a href=""><i class="fa fa-flash"></i>我的好友</a>
            
            <a href=""><i class="fa fa-camera"></i>发现</a>
            <a href="release"><i class="fa fa-picture-o"></i>发布</a>
            <a href="circle"><i class="fa fa-video-camera"></i>热门视频</a>
            
            <a href="exit"><i class="fa fa-cogs"></i>退出</a>
            <a href=""><i class="fa fa-clock-o"></i>Soon</a>
            <a href=""><i class="fa fa-envelope"></i>联系</a>
        </div>
    </div>
    
</div>
<div class="homepage-overlay"></div>
<div class="homepage-background"></div>


</body></html>